button{
    margin: 3px;
    height: 50px;
    width: 50px;
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    border: 3px outset rgb(219, 9, 9);
    
}

.pantalla{
    width: 225px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

button:active{

    background-color: brown;

}

section{
    display: block;
    border: 2px solid blue;
    padding: 10px;
    width: 300px;
    background-color: blanchedalmond;
}

#agrupar{
    margin-top: 10px;
}

